.header {
   display: block;
   width: 100%;
   position: relative;

}

body{
   min-width: 320px;
   max-width: 1280px;
}

.menu-nav {
   background-color: #eff6ff;
   display: flex;
   justify-content: space-between;
   width: 100dvw;
   position: relative;


}

.menu-nav-list {
   display: flex;
   align-self: start;
   align-content: center;
   justify-content: space-between;
   width: 100dvw;
   height: 88px;
   overflow-x: auto;
   padding: 10px 16px 10px 16px;
   position: relative;

}

.menu-icon {
   width: auto;
   height: 40px;
   padding-top: 12px;
   align-content: center;
   list-style-type: none;
}

.full-page {
   display: flex;
   flex-direction: column;
   height: fit-content;

}

.services {
   display: flex;
   align-items: center;
   align-content: center;
   margin-right: 32px;
}

.services-text {
   width: 288px;
   margin-left: 16px;
   margin-right: 16px;
   font-family: "Roboto-Bold", Helvetica;
   font-weight: 700;
   color: #1b1c21;
   font-size: 28px;
   letter-spacing: -0.6px;
   line-height: 40px;
   margin-top: 24px;
   margin-bottom: 24px;
}

.service-holder1 {
   display: flex;
   align-content: center;

}

.menu-content {
   color: #081930;
   display: flex;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   margin-left: 0px;
   margin-right: 16px;
   padding: 10px 20px 10px 20px;
   margin-top: 0px;
   overflow-x: scroll;

}

.menu-content__box {
   width: 222px;
   height: 24px;

}

.menu-content__items {
   font-family: "Roboto-Medium", Helvetica;
   font-weight: 500;
   color: #7d7e82;
   font-size: 16px;
   letter-spacing: -0.2px;
   text-align: left;
   margin-right: 16px;
   justify-content: center;
   list-style-type: none;
   height: 24px;

}

.menu-content__repair-box {
   width: 250px;
   height: 40px;
   background-color: #ffffff;
   border-radius: 6px;
   border: 2px solid;
   border-color: #b7feeb;
   margin-left: 0px;
   padding: 10px 5px 5px 10px;
   align-content: center;
   align-items: center;
   margin-right: 28.87px;
   align-self: start;
}

.menu-content__additional-Services {
   font-family: "Roboto-Medium", Helvetica;
   letter-spacing: -0.2px;
   width: 160px;
   font-weight: 500;
   color: #7d7e82;
   font-size: 16px;
   line-height: 24px;
   align-items: center;
   justify-content: center;
   background: linear-gradient(180deg, rgb(248, 248, 248) 0.04%,
         rgba(248, 248, 248, 0) 100%);

}


.menu-content__service-prices {
   padding-top: 5px;
   width: 120px;
}

.menu-content__service-center {
   padding-top: 5px;
   margin-left: 10px;
   width: 200px;

}

.menu-content__special-prices {
   padding-top: 5px;
   width: 120px;
}

.article__image {
   width: 100dvw;
   position: relative;

}

.readmore {
   display: flex;
   flex-direction: initial;
   align-content: flex-start;
   align-items: center;
   margin-top: 20px;
   padding: 5px;
   margin-left: 12px;
   position: relative;
   margin-bottom: 10px;
}


.readmore__icon {
   align-content: center;
}

.readmore__text {
   width: 100px;

   font-family: "Roboto-Medium", Helvetica;
   font-weight: 500;
   color: #1b1c21;
   font-size: 16px;
   letter-spacing: -0.2px;
}

.article {
   margin-top: 30px;
   width: 100dvw;
   position: relative;

}

.services__highlight {
   margin-top: 24px;

}

.article-text {
   width: 90dvw;

   font-family: "Roboto-Regular", Helvetica;
   font-weight: 400;
   color: #1b1c21;
   font-size: 14px;
   letter-spacing: 0.2px;
   line-height: 18px;
   margin: 0px 16px 10px 16px;

   justify-content: center;


}



.article-text-one {
   width: 90dvw;

   height: auto;
   font-family: "Roboto-Regular", Helvetica;
   font-weight: 400;
   color: #1b1c21;
   font-size: 14px;
   letter-spacing: 0.2px;
   line-height: 18px;
   margin: 0px 16px 10px 0px;

}

.menu-icon.checkstatus {
   order: 4;
}

.menu-icon.repair {
   order: 3;
}

.menu-icon.group {
   order: 1;

}

.highlight {
   filter: grayscale();
   opacity: 35%;
   order: 2;

}


.menu-icon.call {
   order: 3;

}

.menu-icon.chat {
   order: 4;
   margin-left: 16px;

}

.menu-icon.profile {
   order: 5;
   margin-left: 16px;

}

.menu-icon.highlight-2 {
   order: 6;
   filter: grayscale();
   opacity: 35%;

}

.menu-icon.checkstatus {
   order: 8;
}


.menu-icon.repair {
   order: 7;
   margin-right: 16px;

}

.menu-icon.chat,
.menu-icon.call,
.menu-icon.profile,
.article-review,
.menu-icon.highlight-2 {
   display: none;

}

.services-extend {
   display: none;
}

.article__image--web {
   width: 100dvw;
   position: relative;

}



@media (min-width:768px) and (max-width:1119px) {

   .menu-nav-list {
      padding: 0px 24px 10px 24px;
      justify-content: space-between;
      width: 100dvw;

   }

    html, body{
      margin-left: 6%;
   }

   .services-text {

      margin-top: 24px;
      margin-bottom: 24px;
      margin-left: 24px;
   }

   .menu-content {
      margin-left: 8px;
      width: 100dvw;
      overflow: hidden;
   }

   .menu-icon.chat,
   .menu-icon.call,
   .menu-icon.profile,
   .menu-icon.highlight-2 {
      display: flex;

   }

   .menu-icon.group {
      order: 2;
      margin-right: 32.65dvw;

   }

   .highlight {
      filter: grayscale();
      opacity: 35%;
      order: 1;

   }

   .menu-content__repair-box {
      width: 35.29dvw;
      margin-right: 16px;
   }

   .menu-content__additional-Services {
      width: 20.088dvw;
      margin-right: 4.5dvw;
      margin-left: 0px;
   }

   .menu-content__service-prices {
      width: 16dvw;
      margin-right: 1dvw;
      display: flex;
      align-content: flex-end;
   }

   .menu-content__service-center {
      display: none;
   }

   .menu-content__special-prices {
      width: 15dvw;
      display: flex;
      align-content: flex-end;
   }

   .article {
      width: 100dvw;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 24px 0px 12px;
      margin-top: 10px;
      margin-right: 24px;
   }

   .article-text {
      width: 40.63dvw;
      height: 160px;
      line-height: 20px;
      margin: 10px 0px 0px 16px;
      overflow: hidden;
   }

   .article-text-one {
      width: 40.65dvw;

   }

   .article-text-two {
      display: contents;
   }

   .article-text-two span {
      display: none;
   }

   .article-text-two {
      margin-top: 20px;
      line-height: 20px;
   }

   .article-text-two:after {


      content: 'We have been operating successfully since 1992 and have earned a reputation as a reliable partner';
      width: 40.65%;
   }

   .article__image {
      width: 46.875dvw;
      height: 260px;

   }

   .article__image--web {
      width: 46.875dvw;
      height: 208px;

   }

   .readmore {
      align-items: center;
      margin-left: 10px;
      margin-top: 0px;
      padding-top: 0px;

   }


   .group {

      width: 96.553px;
      height: 50px;
      /*margin-right: 36.1dvw;*/
   }

   .menu-icon__highlight,
   .menu-icon__highlight-2 {
      filter: grayscale();
      opacity: 100%;
      position: relative;
      margin: 0px 16px 0px 16px;


   }

   .services-extend,
   .article-review {
      display: none;
   }

}

@media (min-width:1120px) {

   .menu-nav {
      display: none;
   }

  html,
  body {
     margin-left: 6%;
  }

   .services-extend {
      display: flex;

      align-content: center;

   }

   .services-extend__submit {
      width: 125px;
      height: 24px;
      font-family: "Roboto-Medium", Helvetica;
      font-weight: 500;
      color: #1b1c21;
      font-size: 16px;
      text-align: right;
      letter-spacing: -0.2px;
      line-height: 24px;
      align-content: center;
      margin-top: 10px;

   }

   .services-extend__repair {
      width: 119px;
      height: 24px;
      font-family: "Roboto-Medium", Helvetica;
      font-weight: 500;
      color: #1b1c21;
      font-size: 16px;
      text-align: right;
      letter-spacing: -0.2px;
      line-height: 24px;
      align-content: center;
      margin-top: 10px;

   }

   .services-extend__repair-image,
   .services-extend__checkstatus-image {
      padding-top: 5px;
      width: 40px;
      height: 40px;
      position: relative;
      margin-left: 8px;
      align-self: center;

   }


   .services {
      margin-top: 42px;
      justify-content: space-between;
      align-content: flex-start;
   }

   .menu-content__repair-box {
      width: 20.81dvw;
      margin-right: 1.7dvw;
   }

   .menu-content__additional-Services {
      width: 19.64dvw;
      margin-right: 3.05dvw;
      margin-left: 0px;
   }

   .menu-content__service-prices {
      width: 10.54dvw;

   }

   .menu-content__service-center {
      width: 19.38dvw;

   }

   .menu-content__special-prices {
      width: 14.46dvw;
   }



   .article {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0px 28px 0px 12px;
      margin-top: 0px;
   }

   .article-text {
      width: 37.5dvw;
      height: 140px;
      line-height: 20px;
      margin-right: 0px;
      overflow: unset;
   }

   .article-text-one {
      width: 37.5dvw;
      padding-top: 10px;
      height: 52px;

   }


   .article-text-two span {
      width: 37.5dvw;
   }

   .article-text-two {
      margin-top: 20px;
      line-height: 20px;
      width: 37.5dvw;
      display: contents;
      padding-top: 20px;
   }


   .article__image {
      align-content: center;
      width: 47.44dvw;
      height: 34.196dvw;

   }

   .article__image--web {
      width: 47.44dvw;
      height: 307px;
      position: relative;

   }

   .readmore {
      align-items: center;
      margin-left: 10px;
      margin-top: 33px;

   }

   .readmore__text {
      width: 76px;
      height: 24px;
   }

   .article-review {
      width: 71px;
      height: 48px;
      font-family: "Roboto-Medium", Helvetica;
      font-weight: 500;
      color: #7d7e82;
      font-size: 16px;
      letter-spacing: -0.2px;
      line-height: 24px;
      margin-left: 51px;
      display: flex;
      padding-top: 15px;

   }

   .service-holder1 {
      display: flex;
      align-content: center;

   }

   .service-holder2 {
      display: flex;
   }

   /* replacing existing text*/
   .menu-content__repair-box span {
      display: none;
   }

   .menu-content__repair-box:after {
      content: 'Brands We Repair ';

   }

   .menu-content__additional-Services span {
      display: none;
   }

   .menu-content__additional-Services:after {
      content: 'Repairable Devices';

   }

   .menu-content__items {
      margin-bottom: -25px;
   }

   .services__highlight {
      margin-top: 16px;

   }

   .menu-content {
      overflow: hidden;
   }

}